<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Seguidores</title>
</head>
<body>
    <h1>Seguidores do Personagem</h1>

    <ul>
        <li th:each="seguidor : ${seguidores}">
            <span th:text="${seguidor.nome}"></span>
        </li>
    </ul>

    <h1>Seguindo</h1>
    <ul>
        <li th:each="seguido : ${seguidos}">
            <span th:text="${seguido.nome}"></span>
        </li>
    </ul>

    <p><a th:href="@{/personagens/home}">Voltar</a></p>
</body>
</html>